<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

## Introduction

##### In this Data Science Tools and Ecosystem is summarized which can help you to memorize and understand the tools easily

**Objectives**
- List popular languages for Data Science.
- Libraries for Data Science
- popular tools used by Data scientist
- Example of Arthematic Expressions

## Data Science Languages

####  The popular languages are 
### 1. Python 
### 2.R 
### 3.SQL
### 4.Scala
### 5.Java
### 6.C++  
### 7.Julia

### JavaScript, PHP, Go, Ruby, and Visual Basic all have their own unique use cases as well.

## Data Science Libraries

#### Some of the commonly used libraries used by Data Scientists include

1. pandas
2. Numpy
3. scikit-learn
4. Matplotlib
5. Tensorflow
6. pytorch

## Data Science Tools
|Data Science Tools | | || 
|-----|:-----|:---:|:-----:|
|Jupyter Lab |  |   |   |
|Apache Zeppelin||   ||
|R Studio||   ||
|Spyder||   ||

# Examples of Arthematic Expressions

### Below are a few examples of evaluating arithmetic expressions in Python.

In [8]:
a= 6
b=55
c= 8
sum = a+b+c
sub = c-b
mul = a*b*c
div = a/c

print("Addition = ",sum)
print("Subtraction = ",sub)
print("Multiplication = ",mul)
print("Division = ",div)

Addition =  69
Subtraction =  -47
Multiplication =  2640
Division =  0.75

In [9]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [10]:
# This will convert 200 minutes to hours by diving by 60.

minutes=200
seconds = 60 # As there are 60 seconds in one minute
hours = minutes/seconds # To convert minutes into hours divide the minutes by seconds

print( "200 minute is equal to ", hours, "hours")

200 minute is equal to  3.3333333333333335 hours

## Author

Khaja Noman Ahmed